---
import NavComponent from '../components/NavComponent.astro'
import Head from '../components/Head.astro'
import { sanityClient } from "sanity:client";
import {PortableText as PortableTextInternal} from "astro-portabletext"

  const landing_content = await sanityClient.fetch(`*[_type == "landing"]{
  title,
  "video": video.asset->url,
  description

}`)

  
 const props = landing_content.map(({title, video, description}) => {
    return {
      title: title,
      video: video,
      description: description,
    }
  })



  


---

<html lang="en">
	<Head />
  
	<body class="bg-[#f1fafd]">

    <NavComponent />
      




    
      <div class="flex flex-col items-center pt-[88px] lg:pt-0">
        
          <video playsinline="true" id="video" class="w-full h-auto lg:h-[100dvh] max-w-full object-fill" autoplay="autoplay" muted="muted" loop="loop" >
            <source src={props[0].video} type="video/mp4" />
          </video>
       
          

            
            <div class="absolute top-[17.5%] md:top-[20%] lg:top-[40%] flex justify-center flex-col gap-2 lg:gap-4 items-center cursor-default text-white hover:cursor-pointer">


                <div class="flex items-center flex-col drop-shadow-[4px_4px_5px_#616161]  lg:drop-shadow-[6px_6px_5px_#282828] text-4xl md:text-5xl font-bold lg:text-8xl">
                  <div>Welcome to</div> {props[0].title}</div>

                  <PortableTextInternal class="drop-shadow-[4px_4px_5px_#616161]  lg:drop-shadow-[6px_6px_5px_#282828] text-xl md:text-3xl font-bold lg:text-4xl" value={props[0].description} />
                <div class="text-center">

                <a href="/whatwedo"> <div class="relative z-10 lg:py-2.5 lg:px-5 p-[7px] w-fit me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-600 lg:w-[250px]">Checkout what we do</div>
                </a>
                
              </div>
            </div>
        
        
            <div class="relative bottom-[10px] animate-bounce text-lx text-[#2c2c2c]  text-center text-pretty align-middle bg-[#ADD8E6] rounded-xl w-fit pl-4 pr-4 shadow-lg hover:cursor-pointer"><a href="#reviews">Reviews!</a></div> 
            <div id="reviews" class="block" data-wally-widget="65bb17150e0a73001432a6d4" style="width: 100%; height: 100%;">
              
            </div>
            <script is:inline src="https://embed.getwally.net/embed.js"></script>
        </div>

      

  </body>
</html>
