---
import NavComponent from '../components/NavComponent.astro'
import ResponsiveMenuComponent from '../components/ResponsiveMenuComponent.astro'
import Head from '../components/Head.astro'
import {PortableText as PortableTextInternal} from "astro-portabletext"
import { sanityClient } from "sanity:client";


const fetch_landing_content = await sanityClient.fetch('*[_type == "landing"]')


// refactor this code
const landing_content = fetch_landing_content.map((data) => {
  return data
})


---

<html lang="en">
	<Head />
	<body >
    <div class="bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat h-heightdvh">
      
      <header class="absolute inset-x-0 top-0 z-50">





        <NavComponent />
        <ResponsiveMenuComponent />
      </header>
    
      <div class="relative isolate px-6 pt-14 lg:px-8">
        
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            
          </div>
          <a href="/whatwedo">
            <div class="text-center cursor-default bg-none rounded-lg p-5 hover:transition ease-in hover:bg-[#f1f1f1fd] text-[#f9fdff] hover:text-[#000000] hover:cursor-pointer">
              <h1 class="text-4xl font-bold tracking-tight  sm:text-6xl underline">{landing_content[0].title}</h1>
              
              <PortableTextInternal class="mt-6 text-lg leading-8" value={landing_content[0].description} />
              
            </div>
        </a>
        </div>
        
      </div>
    </div>
    
</html>
