---
import NavComponent from '../components/NavComponent.astro'
import ResponsiveMenuComponent from '../components/ResponsiveMenuComponent.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>M&G Exteriorz</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
	</head>
	<body >
    <div class="bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat h-heightdvh">
      <!-- Could have a function that fetchs an array of images and cycles through them -->
      <!-- <div class="bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat h-heightdvh"></div> -->
      <header class="absolute inset-x-0 top-0 z-50">





        <NavComponent />
        <!-- Mobile menu, show/hide based on menu open state. -->
        <ResponsiveMenuComponent />
      </header>
    
      <div class="relative isolate px-6 pt-14 lg:px-8">
        
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-[#f2fbff] sm:text-6xl">M & G Exteriorz</h1>
            <p class="mt-6 text-lg leading-8 text-black-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
            
          </div>
        </div>
        
      </div>
    </div>
    
</html>
