---
import NavComponent from '../components/NavComponent.astro'
import ResponsiveMenuComponent from '../components/ResponsiveMenuComponent.astro'
import Head from '../components/Head.astro'
import { sanityClient } from "sanity:client";


const fetch_landing_content = await sanityClient.fetch('*[_type == "landing"]')


// refactor this code
const landing_content = fetch_landing_content.map((data) => {
  return data
})



---

<html lang="en">
 
	<Head />
	<body class="bg-[#f1fafd]">
    <div class="bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat h-heightdvh flex flex-col items-center ">
      





        <NavComponent />
        <ResponsiveMenuComponent />
    
      <div class="relative isolate px-6 pt-14 lg:px-8">
        
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            
          </div>
          

            
            <div class="flex flex-col items-center text-center cursor-default text-white  hover:cursor-pointer">


              <h1 class="text-4xl font-bold tracking-tight  sm:text-8xl mb-10"><div>Welcome to</div> {landing_content[0].title}</h1>
              <div class="flex flex-col gap-2">
               <a href="/whatwedo"> <div class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-600 w-[250px]">Checkout what we do</div>
              </a>
              
            </div>
            </div>
        
        </div>
        
      </div>
      <div class="animate-bounce absolute text-lx bottom-[-12px] text-center text-pretty align-middle bg-[#ADD8E6] rounded-xl w-fit pl-4 pr-4" >Reviews!</div> 
    </div>
    <div id="reviews" data-wally-widget="65bb17150e0a73001432a6d4" style="width: 100%; height: 100%;"></div>
<script is:inline src="https://embed.getwally.net/embed.js"></script>
  </body>
</html>
