---
import { sanityClient } from "sanity:client";
import imageUrlBuilder from '@sanity/image-url'
import NavComponent from "../components/NavComponent.astro";
import Head from '../components/Head.astro'


  const page = await sanityClient.fetch(`*[_type == "page"]`)
  
  const props =  page.map(({title, description,  _id, slug}) => {
    return {
      title, description, _id, slug
    }
  })
 
  





---
<Head />
<NavComponent/>



 

<div class="relative isolate px-6 pt-14 lg:px-8 bg-[url('/images/backgroundIMGExample.jpg')] bg-cover bg-no-repeat">
        
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      
    </div>
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-[black] sm:text-6xl">What we do!</h1>
      <p class="mt-6 text-lg leading-8 text-black-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
      
    </div>
  </div>
  
</div>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-10">
  


  {props.map((props) => {
    
    return (
          <div id={props._id}class="mb-4  bg-white h-[500px] border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700 max-sm: mx-5">
            <a href={`/whatwedo/${props.slug.current}`} >
                <img class="" src="/images/backgroundIMGExample.jpg" alt="" />
            
                  <div class="p-5">
                          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{props.title}</h5>
                      <p class="mb-1 font-normal text-gray-700 dark:text-gray-400">{props.description}</p>
                      
                  </div>
              </a>
          </div>
                      )

  })
    
            }
        
          
  </div>

</div>