---
import Head from "./Head.astro";
import NavComponent from "./NavComponent.astro";
import ResponsiveMenuComponent from './ResponsiveMenuComponent.astro'


---
<Head />
<NavComponent />
<ResponsiveMenuComponent/>

<div class="m-1.5 p-1.5 text-lg font-semibold leading-6 text-gray-900 text-center">Get in touch!</div>
