---
import Head from "./Head.astro";


---
<Head />


<div class="z-50 p-[20px] bg-white fixed top-0 w-full">
  <div class="flex justify-between relative w-full">
  <a href="/whatwedo" class="text-sm font-semibold leading-6 text-gray-900 hover:underline hover:text-gray-50">
    What We Do
  </a>


  <div class="text-lg font-semibold leading-6 text-gray-900 hover:underline hover:text-gray-50">
    <a href="/" class="-m-1.5 p-1.5">
      M&G Exteriorz
    </a>
  </div>
  <a
    href="/contact"
    class="text-sm font-semibold leading-6 text-gray-900 hover:underline hover:text-gray-50"
  >
    Contact
  </a>
</div>
</div>
