---
import DropMenu from "./DropMenu.astro";
import Head from "./Head.astro";
---
<Head />


<div class="z-50 p-[10px] fixed bg-white/[0.90] top-0 w-full  h-fit border-b-2 border-t-2 border-white text-black">
  <div class="flex justify-between relative w-full flex-col lg:flex-row">
   
      <a href="/" class="text-4xl flex flex-row gap-2">
        <div class="hover:animate-bounce"><img src="/images/droplet.png" width="30" height="25"/></div> M & G Exteriorz 
      </a>
      <div class="flex flex-row gap-4 items-end pl-[20px] mt-4">
          <DropMenu />
        <a
          href="/contact"
          class="hover:underline hover:text-[#d7d9de]"
        >
          Contact
        </a>
      </div>
</div>
</div>
