---

---

<nav
class="flex items-center justify-between p-6 lg:px-8"
aria-label="Global"
>
<div class="flex lg:flex-1">
  <div class="text-lg font-semibold leading-6 text-gray-900">
    <a href="/" class="-m-1.5 p-1.5">
      M&G Exteriorz
    </a>
  </div>
</div>
<div class="text-md font-semibold leading-6 text-gray-900">
</div>

<div class="flex gap-x-12">
  <a href="/underdevelopment" class="text-sm font-semibold leading-6 text-gray-900">
    What We Do
  </a>
  <a
    href="/contact"
    class="text-sm font-semibold leading-6 text-gray-900"
  >
    Contact
  </a>
</div>
</nav>